/* @import "./reset.css"; */
:root{
    font-size: 30px;
    color: blue;
    --main-bgc: teal;
    --main-width: 400px;
    --el-number: 5;
}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 300vh;
}
.container{
    border: 10px solid #000;
    min-height: 400px;
}
.item, .item-or{
    min-width: 10px;
    min-height: 30px;
    height: 100%;
    font-size: 2em;
    text-align: center;
    background-color: teal;
    border: 5px solid red;
    padding: 10px 20px;
}
.flex-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: flex-start;
   align-content: space-between;
}
.item-or{
    height: 150px;
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 2 1 auto;

}